# Angle de du manequin:
aeg = {0}
aed = {1}
abg = {2}
abd = {3}
acg = {4}
acd = {5}
agg = {6}
agd = {7}
at = {8}
ab = {9}
a_full_body = {10}
profile = {11}
color = {12}
filled = {13}
epaisseur = {14}

#CONSTANTES
PREVIEW_X_SIZE = {15}
PREVIEW_Y_SIZE = {16}
NOMBRIL_Y = {17}
LARGEUR_CORPS = {18}
LARGEUR_BRAS = {19}
LARGEUR_TETE = {20}
LARGEUR_JAMBE = {21}
DEMI_LONGUEUR_BRAS = {22}
LONGUEUR_BUSTE = {23}
LONGUEUR_COU = {24}
DEMI_LONGUEUR_JAMBE = {25}
PRECISION = {26}